body {
    font-family: "Arial Black", Gadget, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header h2 {

}

header h1, header h2 {
    display: inline-block;
}

/*----------------------------------Nav-------------------------------------------------------*/
/*----------------------------------Carousel--------------------------------------------------*/

#carousel {
    width: 100%;
    height: 500px;
    position: relative;
}

.carouselView {
    right: 0%;
    height: 100%;
    position: absolute;
    width: 100%;
    display: inline-block;
    transition: right ease-out 500ms;
    -webkit-transition: right ease-out 500ms;
    -moz-transition: right ease-out 500ms;
    -ms-transition: right ease-out 500ms;
    -o-transition: right ease-out 500ms;
}

.carouselButton {
    position: absolute;
    height: auto;
    padding: 10px;
    top: 50%;
}

#leftButton {
    left: 10px;
}

#rightButton {
    right: 10px;
}

.noDisplay {
    display: none;
}

 /* --------------------------------Test--------------------------------------------------- */
#carouselShow1 {
    background-color: green;
}

#carouselShow2 {
    background-color: brown;
}

#carouselShow3 {
    background-color: pink;
}

#carouselShow4 {
    background-color: blue;
}

#carouselShow5 {
    background-color: black;
}

/* -------------------------------------------------------------------------------------- */
 

/* -------------------------------------Animations--------------------------------------- */

@keyframes slideRight {
    from {right: 0%;}
    to {right: -105%;}
}

@keyframes slideLeft{
    from{right: 0%;}
    to {right: 105%}
}
/* -------------------------------------------------------------------------------------- */