/* 
    PALLETE

    heavy main - blue -        rgb(51, 65, 149)
    medium main - blue -       rgb(100, 122, 163)
    light main - blue -        rgb(149, 178, 176)

 */
html {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 4vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
    text-align: center;
}

p {
    font-size: 1.5vw;
}

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(180deg, #8abcdd 7%, rgba(255,255,255,1) 63%); 
    min-height: 800px;
    font-family: "Arial Black", Gadget, sans-serif;
}

/* SVG Logo */
#PWP {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 18%;
    height: auto;
    margin-top: -75px;
}

header {
    z-index: 10;
    position: relative;
    text-align: center;
    color: white;
}

header > h1 {
    font-size: 70px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

header > h2 {
    color: white;
}

header > h1, header > h2 {
    display: inline-block;
}

/*----------------------------------Nav-------------------------------------------------------*/

nav {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 100%;
}

#navBar {
    will-change: background-color;
    background-color: rgba(0,0,0,0);
    transition: background-color 500ms ease-out;
}

#navContainer {
    will-change: right;
    position: absolute;
    right: 15%;
    top: 30%;
    width: 300px;
    margin-right: -150px;
    transition: right 500ms ease-out;
}

a.navButton {
    font-size: 20px;
    padding: 10px;
    will-change: text-shadow, color;
    color: rgb(51, 65, 149);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: color 500ms ease-out, text-shadow 500ms ease-out;
    -webkit-transition: color 500ms ease-out, text-shadow 500ms ease-out;
    -moz-transition: color 500ms ease-out, text-shadow 500ms ease-out;
    -ms-transition: color 500ms ease-out, text-shadow 500ms ease-out;
    -o-transition: color 500ms ease-out, text-shadow 500ms ease-out;
}

.navButton, .navButton:hover, .navButton:active, .navButton:visited {
    text-decoration: none;
}

.navButton:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------Index---------------------------------------------------- */

#siteTitle {
    padding-bottom: 20%;
    padding-top: 10%;
}

#siteTitle > h1, #siteTitle > h2 {
    display: inline-block;
}

#siteTitle > h1 {
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    font-size: 70px;
}

#siteTitle > h2 {
    opacity: 0.9;
    font-size: 30px;
}

#mainBody {
    background-color: rgba(0,0,0,0);
    z-index: 10;
    margin: auto;
    width: 90%;
    max-width: 1800px;
    min-height: 600px;
}

.frontHeader {
    position: relative;
    margin: auto;
    height: auto;
    height: auto;
    width: 100%;
    max-width: 1700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./pics/Hug.jpg");
}

#infoFlex {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.flexItem {
    margin: 10px;
    min-width: 200px;
    max-width: 30%;
}

#flexItem > h2 {
    text-align: center;
    color: white;
    background-color: gray;
}

#flexItem > p {
    font-size: 1.5vw;
}

#about {
    margin: auto;
    width: 98%;
    background:#2f477d;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#about > h1 {
    text-align: center;
}

#about > * {
    padding: 10px 20px;
}


/*----------------------------------Carousel--------------------------------------------------*/

#carousel {
    width: 100%;
    height: 300px;
    position: relative;
}

.carouselTextBox {
    padding: 10px;
    height: 100%;
}

.carouselTextBox * {
    grid-area: text;
    display: block;
    color: white;

    /* text-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4); */
}

.carouselTextBox h2 {
    font-size: 4vw;
    text-align: center;
}

.carouselText {
}

.carouselView {
    will-change: right;
    top:0;
    right:0;
    height: 100%;
    position: absolute;
    width: 100%;
    display: inline-block;
    animation-duration: 500ms
}

.carouselButton {
    z-index: 10;
    position: absolute;
    height: auto;
    padding: 10px;
    top: 50%;
}

#leftButton {
    left: 10px;
}

#rightButton {
    right: 10px;
}

.noDisplay {
    display: none;
}

.slideLeft, .slideRight, .slideFromRight, .slideFromLeft {
    animation-fill-mode: forwards;
}

.slideLeft {
    animation-direction: normal;
    animation-name: slideLeft;
}

.slideRight {
    animation-direction: normal;
    animation-name: slideRight;
}

 /* --------------------------------Test--------------------------------------------------- */
#carouselShow1 {
    background-color: green;
}

#carouselShow2 {
    background-color: brown;
}

#carouselShow3 {
    background-color: pink;
}

#carouselShow4 {
    background-color: blue;
}

#carouselShow5 {
    background-color: black;
}
/* -------------------------------------------------------------------------------------- */
 

/* -------------------------------------Animations--------------------------------------- */

@keyframes slideRight {
    from {right: 0%;}
    to {right: -105%;}
}

@keyframes slideLeft{
    from{right: 0%;}
    to {right: 105%}
}

@keyframes fadeNavButtons {
    0% {
        color: rgb(51, 65, 149);
        text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    100% {
        color:white;
        text-shadow:1px 1px 10px rgba(0,0,0,0.5);
    }
}
/* -------------------------------------------------------------------------------------- */