body {
    font-family: "Arial Black", Gadget, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header h2 {

}

header h1, header h2 {
    display: inline-block;
}

/*----------------------------------Nav-------------------------------------------------------*/
/*----------------------------------Carousel--------------------------------------------------*/

#carousel {
    width: 100%;
    height: 300px;
    position: relative;
}

.carouselView {
    will-change: right;
    top:0;
    right:0;
    height: 100%;
    position: absolute;
    width: 100%;
    display: inline-block;
    animation-duration: 500ms
}

.carouselButton {
    z-index: 10;
    position: absolute;
    height: auto;
    padding: 10px;
    top: 50%;
}

#leftButton {
    left: 10px;
}

#rightButton {
    right: 10px;
}

.noDisplay {
    display: none;
}

.slideLeft, .slideRight, .slideFromRight, .slideFromLeft {
    animation-fill-mode: forwards;
}

.slideLeft {
    animation-direction: normal;
    animation-name: slideLeft;
}

.slideRight {
    animation-direction: normal;
    animation-name: slideRight;
}

 /* --------------------------------Test--------------------------------------------------- */
#carouselShow1 {
    background-color: green;
}

#carouselShow2 {
    background-color: brown;
}

#carouselShow3 {
    background-color: pink;
}

#carouselShow4 {
    background-color: blue;
}

#carouselShow5 {
    background-color: black;
}
/* -------------------------------------------------------------------------------------- */
 

/* -------------------------------------Animations--------------------------------------- */

@keyframes slideRight {
    from {right: 0%;}
    to {right: -105%;}
}

@keyframes slideLeft{
    from{right: 0%;}
    to {right: 105%}
}
/* -------------------------------------------------------------------------------------- */